/*-------------------------------------------------------*/
/*Small Phones from 0 to 480px*/
/*-------------------------------------------------------*/

@media only screen and (max-width: 480px){
    section{ padding: 25px 0;}
    .contact-form { width: 100%;}
}

/*-------------------------------------------------------*/
/*From 481px to 767px*/
/*-------------------------------------------------------*/

@media only screen and (max-width: 767px){
    body{ font-size: 16px; }
    section{ padding: 30px 0;}
    .row,
    .hero-text-box{ padding: 0 4%;}
    .col{width: 100%;
        margin: 0 0 4% 0 ;
    }
    .main-nav { display: none;}
    .sticky .main-nav{display: block;}
    .main-nav li{
        margin-left: 20px;
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        font-size: 50%;
    }
    .logo-black {
        height: 50px;
        width: auto;
    }
    .long-copy{
        width: 100%;
        margin-left: 0%;
    }
    h1{
        font-size: 180%;
    }
    h2{
        font-size: 150%;
    }
    .work-steps{
        margin-bottom: 20px;
    }
    .work-steps:last-of-type{
        margin-bottom: 10px;
    }
    .work-steps div{
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }
    .steps-box:first-child{ text-align: center; }
    .app-screen{
        width: 20%;
    }
    .section-testimonials{
        height: 190vh;}
}

/*-------------------------------------------------------*/
/*From 768px to 1023px*/
/*-------------------------------------------------------*/

@media only screen and (max-width: 1023px){
    body{ font-size: 18px; }
    section{ padding: 60px 0;}
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    .btn-app img{
        height: 40px;
        width: auto;
        margin-right: 10px;
    }
    .app-screen{
        width: 50%;
        margin-top: 15px;
    }
    .work-steps{
        margin-bottom: 30px;
    }
    .work-steps:last-of-type{
        margin-bottom: 60px;
    }
    .steps-box{ margin-top: 10px; }
    .icon-small{ 
        width: 17px; 
        margin-right: 5px;
    }
    .cityfeature{ font-size: 90%;}
    .plan-box{
        width: 100%;
        margin-left: 0;
    }
    .plan-price{
        font-size: 250%;
        margin-bottom: 5px;
        font-weight: 200;
    }
    .plan-price span{
        font-size: 40%;
    }
    .plan-box li i{
        margin-right: 10px;
        font-size: 130%;
    }
    .plan-box ul li{
        padding: 3px 0px;
        font-size: 80%;
    }
    .contact-form{ width: 80%;}
    .steps-box:last-child{  padding-top: 13%;}
    .hero-text-box a { margin-top: 2%;}
}

/*-------------------------------------------------------*/
/*Screen upto 1200px*/
/*-------------------------------------------------------*/

@media only screen and (max-width: 1200px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row{ padding: 0 2%; }
}