/*-------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #ffffff;
    color:#555555;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Lato','Arial',sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
section{
    padding: 80px 0px;
}
.cleaxfix{zoom: 1}
.cleaxfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*-------------------------------------------------------*/
/*REUSEABLE COMPONENT*/
/*-------------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}
h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    color: #ffffff;
    margin: 0;
    font-size: 240%;
    letter-spacing: 1px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.box{
    padding: 1%;
}

/*-------------------------------------------------------*/
/*Paragraph*/
/*-------------------------------------------------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}

/*-------------------------------------------------------*/
/*Features*/
/*-------------------------------------------------------*/
.section-features .long-copy{
    margin-bottom: 30px;
}

/*-------------------------------------------------------*/
/*ICONS*/
/*-------------------------------------------------------*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*secret to align icon and text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*-------------------------------------------------------*/
/*Generic Links*/
/*-------------------------------------------------------*/

a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s color 0.2s;
}
a:hover,
a:active{
    color: #555555;
    border-bottom: 1px solid transparent;
}

/*-------------------------------------------------------*/
/*BUTTONS*/
/*-------------------------------------------------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22 ;
    border: 1px solid #e67e22;
    color: #ffffff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #ffffff;
}

/*-------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------*/

header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero-text-box a { margin-top: 2%;}
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Main Navi */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding:  8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
/* Sticky Navi */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
.sticky .main-nav{
    margin-top: 18px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding:  17px 0;
    color: #555555;
}
.sticky .logo {
    display: none;
}
.sticky .logo-black {
    display: block;
}

/*Mobile Navi*/
.mobile-nav-icon{
    float: right;
    margin-top: 40px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon i{
    font-size: 200%;
    color: white;
}

/*-------------------------------------------------------*/
/*MEALS*/
/*-------------------------------------------------------*/
.section-meals{
    padding: 0;
}
.meal-showcase{
    list-style: none;
    width: 100%;
}
.meal-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s ,opacity 0.5s;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

/*-------------------------------------------------------*/
/*HOW IT WORKS*/
/*-------------------------------------------------------*/
.section-steps{
    background-color: #f4f4f4;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    padding-top: 70px;
}
.app-screen{
    width: 40%;
}
.work-steps{
    margin-bottom: 50px;
}
.work-steps:last-of-type{
    margin-bottom: 85px;
}
.work-steps div{
    color: #e67e22;
    border:2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}

/*-------------------------------------------------------*/
/*Cities*/
/*-------------------------------------------------------*/

.cities img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.cityfeature{
    margin-bottom: 5px;
}

/*-------------------------------------------------------*/
/*Customer Testimonials*/
/*-------------------------------------------------------*/

.section-testimonials{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    background-attachment: fixed;
}
.feedback blockquote,
.section-testimonials h2{
    color: #ffffff;
}
.feedback blockquote{
    padding: 2%;
    font-style: italic;
    position: relative;
    margin-top: 40px;
}
.feedback cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
.feedback blockquote:before{
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top:-40px;
    left: -5px;
}
.feedback cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*-------------------------------------------------------*/
/*Plans*/
/*-------------------------------------------------------*/
.section-plans{
    background-color: #f4f4f4;
}
.plan-box{
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0px;
}
.plan-box li i{
    margin-right: 10px;
    font-size: 130%;
}
.plan-box div:last-child{
    text-align: center;
    border: none;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*-------------------------------------------------------*/
/*Contact Form*/
/*-------------------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email]
,select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
textarea{
    height: 200px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{
    outline: none;
}

/*-------------------------------------------------------*/
/*Footer*/
/*-------------------------------------------------------*/
footer{
    background-color: #333333;
    color: #ffffff;
}
.footer-nav li,
.social-links li{
    display:inline-block;
    margin-right: 20px;
    font-size: 80%;
}
.footer-nav li a,
.social-links li a{
    border: none;
    text-decoration: none;
}
footer p{
    font-size: 90%;
    color: #888888;
    text-align: center;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li a:link,
.social-links li a:link,
.footer-nav li a:visited,
.social-links li a:visited{
    color: #888888;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #dddddd;
}
.social-links li a:link,
.social-links li a:visited{
    font: 180%;
}
.social-links li a:hover,
.social-links li a:active{
    color: #dddddd;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    transition: 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #55acee;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #cd486b;
}

/*-------------------------------------------------------*/
/*Animation*/
/*-------------------------------------------------------*/
.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    animation-duration: 1s;
}
.js--wp-4{
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}